html, body {
	margin: 0 0;
	padding: 0 0;
	height: 100%;
	width: 100%;
	background: #EFEFBB;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 14px;
	color: rgb(51,51,51);
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-weight: bold; 
	font-size: 5em;
}

nav	{
	margin: 0 auto 20px auto;
	padding: 0 0;
	width: 600px;
	height: 40px;
}

button {
	text-decoration: none;
	float: left;
	width: 30%;
	height: 100%;
	margin: 0 1.66%;	
	text-align: center;
	background: transparent;
	font-size: 1.4rem; 
	border: solid 1px #7F98A1;;
	border-radius: 10px;
	outline: none;
	color: rgb(51,51,51);

}

.online {
	background: #C5E8BA;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	display: none;
}

thead, .active {
	background: rgb(75, 54, 124);
	color: white;
}

tr {
	border: solid 1px #7F98A1;
}

table thead th, table tbody td {
	padding: .5rem;
	font-size: 1.4rem; 
}

table thead tr > :nth-child(1), table tbody tr > :nth-child(1) {
	width: 100px;
}

table thead tr > :nth-child(2), table tbody tr > :nth-child(2) {
	width: 500px;
}

table tbody tr > :nth-child(2) {
	font-style: italic;
	color: #696969;
}

a, a:hover, a:visited, a:focus {
	text-decoration: none;
	color: rgb(51,51,51);
}

img {
	display: block;
	margin: 0px auto 0px auto;
	width: 70px;
	border: solid 4px grey;
	border-radius: 50%;
}

span {
	display: block;
	padding-top: 10px;
	font-weight: bold;
	text-align: center;
}

footer {
 	width: 80%;
	border-top: solid grey 1px;
 	margin: 5% auto 2% auto;
	text-align: center;
}

footer p {
 	text-align: center;
	font-size: 12px
}


@media screen and (max-width: 715px) {
	html, body {
		font-size: 12px;
	}
	h1 {
		font-size: 4em;
	}	
	nav {
		width: 90%;
	}
	button {
		display: block;
		width: 100%;
		margin: 0 auto 10px auto;
	}
	table {
		width: 90%;
		text-align: center;
	}
	thead {
		display: none; 
	}
	td {
		display: block;
		width: 100%;
		margin: 0 auto;
		box-sizing: border-box;

	}

	table tbody tr {
		width: 100%;
		box-sizing: border-box;
	}


	table thead tr > :nth-child(1), table tbody tr > :nth-child(1), table thead tr > :nth-child(2), table tbody tr > :nth-child(2) {
		width: 100%;
	}

	table thead tr > :nth-child(2), table tbody tr > :nth-child(2) {
		width: 100%;
		padding-top: 5px;
	}
}